* {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url("../img/background.png");
  background-size: cover;
  padding-top: 530px;
  padding-bottom: 133px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: 48px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
  line-height: 59px;
}
.subtitle {
  font-weight: 400px;
  font-style: normal;
  font-size: 18px;
  line-height: 21, 6px;
  margin-top: 16px 0 22px;
  color: #fff;
}
.slogan {
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  width: fit-content;
  padding-right: 31px;
}
.slogan-accent {
    display: inline-block;
  padding: 38px 23px 38px 31px;
  color: rgba(244, 142, 11, 1);
  font-weight: bold;
  border-right: 1px solid rgba(244, 142, 11, 1);
}
.para {
  padding-bottom: 28px;
}

.para1 {
  font: Montserrat;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
line-height: 22px;
text-align: center;
padding-top: 99px;

}
.desc {
  font: Lato;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  margin-top: 28px;
}
.orange-line {
  width: 60px;
  height: 3.03px;
  background: #F48E0B;
  margin: 48px auto 57px;
  
}
.webaward {
display: block;
margin: 0 auto;

}

