.top {
  padding-top: 25.5px;
  padding-left: 330px;
  padding-right: 72px;
  color: red;
}
.top2 {
  padding-right: 72px;
  color: red;
}
.zagolovok {
  margin: 0 auto;
  color: red;
}
.top3 {
  padding-right: 72px;
  color: red;
}
li {
  display: inline;
  color: red;
  margin-right: 50px;
}

li:last-child {
  margin-right: 0px;
}

li a {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-weight: Montserrat;
  font-size: 20px;
}

ul {
  text-align: center;
  padding: 25.5px;
  letter-spacing: 2.7px;
}
.body {
  width: 100%;
  margin: 0 auto;
}

.photo {
  display: block;
  margin: 0 auto;
  padding-bottom: 49px;
}
.txt {
  text-transform: uppercase;
  font-style: normal;
  font-size: 22px;
  line-height: 26, 82px;
  text-align: center;
  color: #373737;
  font-weight: bold;
  margin: 0px auto;
  padding-bottom: 38px;
  letter-spacing: 3.3px;
}
.txt1 {
  display: block;
  margin: 0px auto;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  padding-left: 67.5px;
  padding-right: 67.5px;
  padding-bottom: 28px;
  width: 1145px;
  height: 132px;
}
.txt2 {
  display: block;
  margin: 0px auto;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  padding-left: 67.5px;
  padding-right: 67.5px;
  width: 1145px;
  height: 216px;
}
.button {
  width: 191px;
  height: 51px;
  border-radius: 4px ;
  background-color: red;
  border: solid red;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 82px;
}
.text3 {
    display: block;
    width: 462px;
    height: 39px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19,5px;
    letter-spacing: 2,4px;
    font-style: normal;
    margin: 40px 105px 29px 713px;
   
}
.text5 {
  display: block;
  margin: 0px auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  text-align: center;
  margin-left: 713px;
}
.divtxt2 {
  margin-bottom: 66px;
}

@font-face {
  font-family: Montserrat;
  src: url(/dan-it-homework-omnnnni-pe5/HW-2/css/Montserrat-Regular.ttf);
}

body {
  font-family: Montserrat;
  /* знаю что лучше не в бади но так как тут на странице один шрифт подключил его сюда */
}

a {
  text-decoration: none;
  color: #ffff;
}

