
      p {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial;
        line-height: 20px;
        color: crimson;
      }
      .title {
        width: 100px;
        height: 100px;
        border: 1px solid green;
        margin: 0 auto;
        padding: 24px 6px;
        letter-spacing: 1.5px;
      }
      h1 {
        font-size: 100px;
        height: 200px;
        border: 1px solid black;
      }
      #link {
        background-color: darkmagenta;
      }

      span {
        font-size: 6px;
      }
     span .littleSpan {
         color:beige ;
     }
     
    .imageBlock {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        background: blueviolet;

    }
    .image {
        width: 200px;
        height: 200px;
    }
