.container {
  display: grid;
  border: 1px solid #000;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-auto-rows: 100px 200px;
  gap: 20px 10px;
  justify-items: start;
  margin-bottom: 100px;
}

.container .item,
.container-second .item 
{
  text-align: center;
  background-color: plum;
  padding: 0.5em;
  border: 1px solid #000;
}
.container-second {
display: grid;
border: 1px solid black;
grid-template-columns: 100px 100px 100px 100px 100px;
grid-template-rows: 200px 50px 100px;
grid-gap: 10px;

}
.container-second .container-item2 {
    /*grid-column-start: 2;
grid-column-end: 5;
/*grid-row: 1/3;
grid-area: 1/2/3/5; */
}

.container-third {
    margin: 50px 0;
    display: grid;
    border: 1px solid black;
    gap: 10px;
}
.container-third .item{
    border: 1px solid black;
}